<!DOCTYPE html>
<html lang="es">
	<script>
		function recargar(){
		location.href=location.href
	}
		setInterval('recargar()',10000)
	</script>
	<head>
		<title>Resultados</title>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta http-equiv="Refresh" content="10">
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width", user-scalable=no, initial-scale=1.0, maximun-scale=1.0, minimun-scale=1.0>
	</head>
	<body>
		<div class="main">
			<header>
				<div id="titulo">
					<h2 class="game">Datos del Juego</h2>
				</div>
				<nav class="menu">
					<ul>
						<li><a href="https://github.com/Jhusseth/Soccer_Connection_Game" target="_blank">Desarrollo</a></li>
						<li><a href="./main_report/index.html" target="_blank">Investigacion</a></li>
					</ul>
			    </nav>
			</header>
			<section id="estadisticas">
				<section class="view_games">
					<div id="games_conected">
						<h2>Estadisticas</h2>
					</div>
					<p class="games_conectados" type="text" name="matchSTD">
						
						 
					</p>
				</section>
			</section>
			<section id="datos">
				<section class="conexiones">
					<div id="historial">
						<h2>Historial</h2>
					</div>
					<p class="data" type="text" name="dataGame" >
					
					
					</p>
				</section>
			</section>
		</div>
	</body>
	<footer>
		<p>
			(c) Todos los derechos reservados - Jhusseth 2019 <br>
			Elaborado por <a href="https://www.facebook.com/jhussethvaironel.sanchezarias" target="_blank">Jhusseth</a>
		</p>
	</footer>
</html>	