<!DOCTYPE html>
<html lang="es">
	<head>
		<title>Investigacion</title>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="UTF-8">
		<link rel="stylesheet" href="css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="stylesIndex.css">
		<meta name="viewport" content="width=device-width", user-scalable=no, initial-scale=1.0, maximun-scale=1.0, minimun-scale=1.0>
	</head>
	<body>
		<div class="principal">
			<header>
				<div id="logo">
					<h2 class="titulo">Redes</h2>
					<p class="sub-titulo">Proyecto de Investigación</p>
				</div>
				<nav class="menu">
					<ul>
						<li><a href="index.html">Conexiones</a></li>
						<li><a href="Server_Soccer/html/main_report/index.html">Analisis Code</a></li>
					</ul>
				</nav>
			</header>
			<section id="categorias">
				<section class="uno">
					<h2>Datos de Investigación</h2>
						<iframe width="800" height="690" src="https://docs.google.com/document/d/1x4eL_MMk4X4keFzXeZOoQXGqPx6g7ntT/edit" frameborder="0" allowfullscreen></iframe>
						<section class="dos">
							<a href="https://drive.google.com/file/d/1x4eL_MMk4X4keFzXeZOoQXGqPx6g7ntT/view?usp=sharing" target="_blank"class="leer-mas">Documento</a><br><br>
						</section>
				</section>
			</section>
			<section id="info">
				<section id="izq">
					<h3>Tutorial Docker</h3>
					<iframe width="380" height="290" src="https://www.youtube.com/embed/Fv-97I_wrJ0" frameborder="0" allowfullscreen></iframe>
				</section>
				<section id="der">
					<h3>Tutorial Html</h3>
					<iframe width="380" height="290" src="https://www.youtube.com/embed/rr2H086z16s" frameborder="0" allowfullscreen></iframe>
				</section>
			</section>
		</div>
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	</body>
	<footer>
		<p>
			(c) Todos los derechos reservados - Jhusseth 2019 <br>
			Diseñado por <a href="https://www.facebook.com/jhussethvaironel.sanchezarias" target="_blank">Jhusseth</a>
		</p>
			</footer>
</html>